<html lang="en" xmlns:th="http://wwww.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h2 th:text="#{welcome}">Index Page</h2>

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
    </div>
</div>

</body>
</html>